@media screen and (max-width:1100px) {
    p {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .grid-1 {
        gap: 1rem;
    }

    .skills-right {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px) {

    /*-----------------------------------*\
        #Burger
    \*-----------------------------------*/

    .burger {
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle-burger .line-2 {
       opacity: 0;
    }

    .toggle-burger .line-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    nav {
        position: fixed;
        width: 50%;
        height: 100vh;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: purple;
        border-left: 1px solid var(--borderColor);
        /* Properti z-index "menentukan urutan tumpukan suatu elemen" (elemen mana yang harus ditempatkan di depan, atau di belakang, elemen lainnya) */
        z-index: 9;
        transform: translateX(100%);
        transition: 1s;
    }

    nav ul {
        height: 100vh;
        /* nyamping tengah */
        align-items: center;
        /* jejer jejer ke bawah */
        flex-direction: column;
        /* nyamping ke bawah */
        justify-content: center;
    }

    .nav-active {
        transform: translateX(0);
    }



    /*-----------------------------------*\
        #REUSABLE
    \*-----------------------------------*/

    :root {
        --section-padding: 4rem 0;
    }

    .pre-title {
       font-size: 0.8;
    }

    .section-title {
        /* bikin jarak item ini dan item kiri */
        margin: 0.6rem 0 2.5rem;
        font-size: 1.6rem;

    }



    /*-----------------------------------*\
        #HERO SECTION
    \*-----------------------------------*/

    #hero {
        padding: var(--section-padding);
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .hero-right {
        /* buat ngatur tempat item ini */
        order: -1;
    }

    .hero-left {
        text-align: center;
        padding-top: 3rem;
    }

    .hero-left .pre-title {
        margin: 0 auto;
    }

    .hero-name {
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
    }



    /*-----------------------------------*\
        #SKILLS SECTION
    \*-----------------------------------*/

    footer {
        padding: 2rem 0;
    }


}

@media screen and (max-width:690px) {
    .portfolio-card {
        width: 60%;
        margin: 0 auto;
    }
}
